Source: saera
Section: user/utilities
Priority: extra
Maintainer: taixzo <taixzo@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2

Package: saera
Architecture: any
Depends: python, pocketsphinx-utils, pocketsphinx-hmm-en-hub4wsj, pocketsphinx-lm-en-hub4, gstreamer0.10-pocketsphinx, python-gst0.10, python-gtk2, python-gobject, python-cairo, espeak
Description: Voice control and AI
 Saera is designed as a Siri clone, using Pocketsphinx for voice
 recognition. Right now it is highly in development and doesn't
 work very well.
