#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

build-stamp: configure-stamp 
	dh_testdir
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	# Add here commands to install the package into debian/saera
	#$(MAKE) install DESTDIR=$(CURDIR)/debian/saera
	mkdir -r $(CURDIR)/debian/saera
	
	### insert your commands here
	mkdir -p $(CURDIR)/debian/saera/opt/saera
	cp -r saera/* $(CURDIR)/debian/saera/opt/saera/

%:
	dh $@ 
