Source: optify-pocketsphinx
Section: unknown
Priority: extra
Maintainer: Taixzo <taixzo@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
#Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/optify-pocketsphinx.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/optify-pocketsphinx.git;a=summary

Package: optify-pocketsphinx
Architecture: all
Depends: ${misc:Depends}
Description: Optify Pocketsphinx
 Optify the Pocketsphinx packages to free up rootfs space.
